.main .well{
	text-align:center;
}
.footer{
	padding:20px 0px;
	margin-top:20px;
	background-color:#222;
	color:#FFF;
}
.footer [class*="col-sm"]{
	min-height:150px;
}
.main .glyphicon{
	font-size:3em;
	color:#222;
}
.features [class*="col-"]{
	margin-bottom: 25px;
}
@media (min-width: 768px){
	.main .well{
		text-align:left;
	}
}